            <header id="header">
                <div class="box-md">
                    <h1 class="logo">
                        <a href="https://www.isbug.net" title="自乐园 | 一个喜欢艺术的安全工程师">自乐园</a>
                    </h1>
                    <nav class="menu header-menu-box" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul id="header_menu"><li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="https://www.isbug.net/%e9%9b%81%e8%bf%87%e7%95%99%e5%a3%b0">雁过留声</a></li>
                        <li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="https://www.isbug.net/%e7%94%b3%e8%af%b7%e9%93%be%e6%8e%a5">友情链接</a></li>
                        <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="https://www.isbug.net/%e5%85%b3%e4%ba%8e">关于博主</a></li>
                        <li id="menu-item-297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-297"><a title="xss平台" href="http://xss.isbug.net">xss平台</a></li>
                        </ul>                   
                    </nav>
                    <ul class="control">
                        <li class="previous">
                            <a class="dashicons dashicons-arrow-left-alt" href="javascript:history.go( -1 );" title="后退"></a>
                        </li>
                        <li class="next">
                            <a class="dashicons dashicons-arrow-right-alt" href="javascript:history.go( 1 );" title="前进"></a>
                        </li>
                        <li class="refresh">
                            <a class="dashicons dashicons-image-rotate" href="javascript:location.reload();" title="刷新"></a>
                        </li>
                    </ul>
                    <form method="get" class="search-form" action="https://www.isbug.net">
                <input class="search-text" name="s" autocomplete="off" placeholder="输入关键词搜索..." type="text" value="" required="required" />
                <button class="search-submit" alt="搜索" type="submit">搜索</button>
                </form>             
            </div>
        </header>