{% extends "base.html" %}
{% block header_title %}主页{% end %}
{% block header_static %}
<link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
{% end %}
{% block body %}
{% include "head.html" %}
<div id="wrapper-header">
    <div class="wrapper wrapper-content  animated fadeInRight blog ">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7 main-content center">
                <span12 style="width:30px">
                <article class="panel  right">
                  <div class="panel-heading">
                    <p class=""><span class="glyphicon glyphicon-search"></span>搜索<span class="pull-right " itemscope="" itemtype="http://schema.org/WebPage"><a itemprop="breadcrumb" href="https://www.isbug.net" title="首页"><span class="glyphicon glyphicon-home"></span>首页</a><span class="separator glyphicon glyphicon-chevron-right"></span>搜索</span></p>
                  </div>
                  <div class="panel-body">
                    关键词“s”共有 58 个搜索结果
                  </div>
                </article>
            </span12>
        

                <!-- <div class="col-md-9 pull-left"> -->
            </div>

{% include "side.html" %}
</div>

{% end %}
{% block footer_static %}
    <script src="{{ static_url("js/jquery.min.js?v=2.1.4")}}"></script>
    <script src="{{ static_url("js/bootstrap.min.js?v=3.3.6")}}"></script>
    <script src="{{ static_url("js/content.min.js?v=1.0.0")}}"></script>
{% end %}